.container {
    max-width: 550px;
    margin: auto;
    background: rgb(128, 125, 125);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px;
}

body {
    margin-top: 15%;
    background-color: #1d1c1c;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family:sans-serif
}

form {
    display: flex;
    gap: 12px;
}

form input[type="text"] {
    flex: 1;
    padding: 12px;
    border-radius: 12px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: silver;
    margin:5px;
}